body{
    background-color: black;
}

h1{
    text-align: center;
    color: orange;
}
.destaque{
    color: rgb(236, 26, 255);
    text-align: center;
}
p{
    color: green;
    text-align: center;
}
#crete{
    font-family: 'Crete Round', serif;
    font-weight: bold;
}

#Yantramanav{
    font-family: 'Yantramanav', sans-serif;
}
#Handjet{
    font-family: 'Handjet', cursive;
}
#Mali{
    font-family: 'Mali', cursive;
    font-weight: bold;
}
#Monofett{
    font-family: 'Monofett', monospace;
}